@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

* {
    padding: 0;
    margin: 0;
    outline: none;
    box-sizing: border-box;
}

#a{
    color: #fff;
    text-decoration: none;
}

#a:hover {
    text-decoration: none;
}

body, html {
    width: 100%;
    height: 100%;
}

body {
    background-color: #fff;
    font-family: 'Roboto';
}

/* Шапка сайта */

.header {
    display: flex;
    justify-content: start;
    width: 100%;
    height: 50px;
    background-color: #006C84;
    margin-bottom: 5%;
}

.logo {
    display: flex;
    align-items: center;
    font-family: 'Roboto';
    font-weight: 600;
    font-size: 36px;
    color: #fff;
    margin-left: 3%;
    height: 100%;
}

/* Поле профиля */

.main{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.profile-form-container {
    position: relative;
    display: flex;
    justify-content: space-between;
    max-width: 1070px;
    width: 100%;
    background: #fff;
    box-shadow: 0px 4px 10px 10px
     rgba(0, 0, 0, 0.25);
     padding-top: 50px;
     padding-left: 50px;
     padding-bottom: 34px;
     padding-right: 30px;
}

.left-part {
    display: flex;
    flex-basis: 50%;
}

.right-part {
    display: flex;
    justify-content: end;
    flex-basis: 50%;
}

.circle {
    max-width: 154px; 
    width: 100%;
    height: 154px;
    background: #003B48;
    border-radius: 50%;
    margin-right: 20px;
}

.info-1 {
    display: flex;
    flex-direction: column;
    max-width: 440px;
    width: 100%;
}

.info-2 {
    display: flex;
    flex-direction: column;   
}

.nick-name {
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 35px;
    margin-bottom: 15px;
    
}

.info-1-text {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 14px;
    padding-bottom: 12px;
}

.info-2-text {
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    padding-bottom: 12px;
}

.button-profile {
background-color: #003B48;
}

